{% extends "base_html.html" %}

{%  block body %}
<div class="row">
	<div class="col s2" >  
		<ul class="collection">

    	<a href="{% url 'core:stafflist' %}" class="collection-item">staff List</a>
      {# <a href="{% url 'core:managebank' %}" class="collection-item">Manage Bank </a> #}
      <a href="{% url 'core:cliniclist' %}" class="collection-item">Clinic List</a>
      <a href="{% url 'core:diagnosticslist'%}" class="collection-item">Diagnostics List</a>
    </ul>
  	{% if object.user_type == "HS" %}
  	<ul class="collection">
  		<a href="{% url 'core:hospitallist' %}" class="collection-item"> Patient Listt</a>
      <a href="{% url 'core:bloodbanklist' %}" class="collection-item">Staff UserList</a>
    </ul>
 		{% endif %}
	</div>
  <div class="col s8">
		<h4>{{ obj }}</h4>
      <table>
        <thead>
          <tr>
              <th>Group</th>
              <th>NO</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>A+</td>
            
            <td>
              <i class="medium material-icons">add</i>
              0
            <i class="medium material-icons">add</i>
          </td>
          </tr>
          <tr>
            <td>O+</td>
            <td>0</td>
          </tr>
          <tr>
            <td>B+</td>
            <td>0</td>
          </tr>
          <tr>
            <td>AB+</td>
            <td>0</td>
          </tr>
          <tr>
            <td>O-</td>
            <td>0</td>
          </tr>
          <td>O-</td>
            <td>0</td>
          </tr>
          <tr>
            <td>B-</td>
            <td>0</td>
          </tr>
          <tr>
            <td>AB-</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
  </div>
  <div class="col s2">
    <a href="{% url 'core:bankmanageview' %}" class="collection-item">manage Bank</a>
  </div>
</div>
{% endblock %}